# Example environment variables for backend

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/health-reservation-system
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=your-db-password
SPRING_JPA_HIBERNATE_DDL_AUTO=update

JWT_SECRET=your-very-secret-key